/* nav should always cover 100% of the html body, background color and font to stay consistent across different views*/
nav {
    background-color: #ad751d;
    width: 100%;
    font-size: 20px;
    font-family: sans-serif;
}

/*dog-paw icon size and margin to separate it from the menu items in the navbar*/
.dog-paw-icon {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

/* float the profile icon to the left to place it beside Login/Register */
.profile-icon {
    float: left;
    height: 25px;
    width: 25px;
    margin-top: 7px;
}

