nav {
    position: relative;
    background-color: #ad751d;
    width: 100%;
    font-family: 'Mukta', sans-serif;
    font-size: 20px;
}

.dog-paw-icon {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.profile-icon {
    float: left;
    height: 25px;
    width: 25px;
    margin-top: 7px;
}

