.table-container {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

table {
    table-layout: fixed;
}

.row-link {
    background-color: #ad751d !important;
    border-color: #b56810 !important;
}

.distance-cell {
    font-weight: bold;
}

.map-container {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    overflow: hidden;
    width: 95%;
    height: 100%;
}

.map-image {
    width: auto;
    height: auto;
    max-width: 75%;
    max-height: 50%;
}