/* 
sets up image background so that it is positioned to cover from the center
both vertical and horizontal device constraints 
*/
body {
    background-image: url('../images/dog-park-landscape.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

/* Center page content vertically and horizontally */
.main-container {
    margin: auto;
    width: 80%;
    max-width: 900px;
    max-height: 647px;
    margin-top: 10%;
}

/* Keeps page title and icon together */
.title-container {
    display: flex;
    justify-content: center;
    max-width: 900px;
    max-height: 200px;
}

/* Prevents img from exceeding a specific size ratio, keeps it responsive across different screen sizes */
.title-container img {
    width: 15vw;
    height: 15vw;
    max-width: 148px;
    max-height: 148px;
}

/* font-size is 1100% as percentages tend to be responsive across various screens, font-weight is set to 800 to use the imported google-font of weight 800 */
.title-container h1 {
    font-family: 'Mukta', sans-serif;
    text-align: center;
    font-size: 1100%;
    color: white;
    font-weight: 800;
}

/* margin added to separate from the main page title */
.tagline p{
    margin-top: 10%;
    color: white;
    text-align: center;
    font-size: 250%;
    font-weight: 800;
    font-family: 'Mukta', sans-serif;
}


.search-form {
    margin-top: 15%;
    font-family: 'Mukta', sans-serif;
}

.search-btn{
    margin-top: 5%;
}

#rating-search {
    text-align: center;
    font-size:small;
}

/* Removes default bootstrap colors */
.btn-primary {
    background-color: #db9d3d;
    border-color: #b56810;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: #ad751d;
    border-color: #b56810;
}

.search-btn, .search-input {
    height: 6.5vh;
    text-align: center;
    font-size: 3.5vh;
}


/* Configures responsiveness for bigger screen sizes: laptops, monitors */
@media screen and (min-width: 983px) {
    .main-container {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .tagline p {
        font-size: 400%;
    }
    
    /* switches to display flex to place the main search bar and button beside each other */
    .search-form {
        display: flex;
    }

    .search-input {
        width: 75%;
        margin-right: 25px;
        font-size: 25px;
    }

    /* float right to place the search button to the right of the search bar */
    .search-btn  {
        margin-top: 0;
        width: 175px;
        float: right;
    }

    #rating-search {
        margin-right: 2%;
        width: 15%;
        text-align: center;
    }
}

/* Configures responsiveness for mobile devices: mobile phones, tablets */
/* min-width's set to keep the page responsive and looking in order for extremely low-width screens */
@media screen and (max-width: 982px){
    .main-container {
        min-width: 300px;
        min-height: 315px;
        margin-bottom: 20%;
    }

    .title-container {
        min-width: 300px;
        min-height: 68px;
    }
    .title-container h1 {
        font-size: 18vw;
        min-width: 222px;
        min-width: 68px;
        margin-right: 10px;
    }

    .title-container img {
        width: 15vw;
        height: 15vw;
        min-width: 42px;
        min-height: 42px;
    }

    .tagline p {
        font-size: 8vw;
    }

    /* override footer height as the main page requires a specific footer height */
    footer {
        background-color: white;
        width: 100%;
        height: 30% !important;
        left: 0px;
        right: 0px;
    }

    #rating-search {
        margin-top: 3%;
        width: 50%;
        margin: 3% auto auto auto;
    }
}

